@model DFC.App.SkillsHealthCheck.ViewModels.SessionTimout.BodyViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="heading-xlarge">Sorry, your session has timed out due to inactivity</h1>
        <p>To go back to your saved skills health check you can <a href="@Model.SessionTimeoutPopupModel" class="open-popup-btn" id="sessionEndLink"> enter your reference code</a>.</p>
        <p>If you did not save your progress and receive a reference code, you will need to start a <a href="@Model.HomePageUrl">new skills health check</a>.</p>
    </div>
</div>
