@model DFC.App.SkillsHealthCheck.ViewModels.SessionTimout.BodyViewModel
<div id="sessionEndPopup" class="popup-container">
   <div class="popup-content">
      <button class="govuk-button button-start" data-module="govuk-button" href="#popup1">
         open pop-up
         </button>
</div>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2 class="heading-m">Your current session is about to end due to 30 minutes of inactivity</h2>
		<a class="close" href="#">&times;</a>
		<div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <p>Select <b>'extend my session'</b> if you want to continue or click <b>'end my session'</b> to leave.</p>
            <p>This message will show for 5 minutes. If there is no further activity, your session will automatically end.</p>
         </div>
         <button class="govuk-button button-start" data-module="govuk-button" href="#popup1">
         Extend Session
         </button>
         <a class="govuk-link" href="@Model.HomePageUrl" rel="external">Leave skills health check</a>
      </div>
   </div>
	</div>
</div>