@model RightBarViewModel
<div class="app-related-items">
    <h2 class="govuk-heading-m">Return to this later</h2>
    <p><a href="/skills-assessment/skills-health-check/save-my-progress?type=@Model.AssessmentType">Save my progress</a></p>
    <p>To make sure your skills health check assessments and results will not be lost at any time get a reference code.</p>
    <p><a href="/skills-assessment/skills-health-check/your-assessments">Return to your skills health check</a></p>
</div>

@if (Model.SpeakToAnAdviser != null)
{
    <div class="app-related-items">
        @Html.Raw(Model.SpeakToAnAdviser.Content)
    </div>
}
