@model DFC.App.SkillsHealthCheck.ViewModels.SaveMyProgress.SaveMyProgressViewModel
@{

}
<div class="govuk-width-container">
    <main id="content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" class="compui-validation">
                    <div class="govuk-form-group">
                        <partial name="_AppErrorSummary" />

                        <div class="form-group  govuk-!-margin-bottom-6 " id="SelectOption">
                            <h1 class="heading-large">How would you like to return to your skills health check?</h1>
                            <fieldset class="govuk-fieldset">
                                @Html.EditorFor(model => model.SelectedOption)
                            </fieldset>
                        </div>
                        <input class="govuk-button" type="submit" name="selectOption" value="Continue">
                        <input id="BackLinkType" name="BackLinkType" type="hidden" value="">
                    </div>
                </form>

                <p><a href="/skills-health-check/your-assessments">Return to your skills health check</a></p>
            </div>
        </div>
    </main>
</div>