@model DFC.App.SkillsHealthCheck.ViewModels.SaveMyProgress.EmailViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_AppErrorSummary" />

        <div class="govuk-body">
            <h1 class="govuk-heading-xl">Email address</h1>
            <form method="post" class="compui-validation">
                <span class="govuk-hint">We will only use this to send you a link to return to your skills health check</span>
                @Html.EditorFor(m => m.EmailAddress)

                <input class="govuk-button" type="submit" name="sendAction" value="Send" />
            </form>

            <p><a href="@Model.ReturnLink">@Model.ReturnLinkText</a></p>

        </div>
    </div>
</div>