<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-l">Next steps</h3>
        <p>Now that you've discovered your skills, you might want to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/explore-careers">explore careers</a> that interest you</li>
            <li>look for <a href="/careers-advice">careers advice</a> to help you look for and apply for jobs</li>
            <li><a href="/contact-us">speak to an adviser</a> about your next steps</li>
            <li><a href="/skills-assessment">return to skills assessments</a></li>
        </ul>
    </div>
</div>