<div class="govuk-grid-row govuk-!-margin-top-7 govuk-!-padding-left-0">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">You have not started any assessments</h2>
        <p class="govuk-body">Find out more about yourself by taking a:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="#personal-skills">personal skills assessment</a></li>
            <li><a href="#work-based-skills">work-based skills assessment</a></li>
        </ul>
    </div>
</div>