@model RightBarViewModel

<div class="app-related-items">
    <h2 class="govuk-heading-m">Return to this later</h2>
    <p>Your session will end after 2 hours of inactvity. Get a reference code to make sure your skills health check assessment and results will not be lost.</p>
    <p><a href="/skills-health-check/save-my-progress?type=@Model.AssessmentType">Save my progress</a></p>
</div>

<partial name="_ReturnToAssessment" model="@Model.ReturnToAssessmentViewModel"/>

@if (Model.SpeakToAnAdviser != null)
{
    <div class="app-related-items">
        @Html.Raw(Model.SpeakToAnAdviser.Content)
    </div>
}
